# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/app/.externalNativeBuild/
android/app/build/
android/app/Debug/
android/app/Release/
android/key.properties

# iOS
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Environment
.env
.env.local

# Logs
*.log
